#logo{
    width: 100px;
    height: 100px;
    display: block;
    border-radius: 50px;
    margin-left: 50px;
}

.logoParent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}
main{
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    height: 2vh;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: 	#ffbf00;
    position: sticky;
    top: 0;
    z-index: 1000;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#firPara{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 80%;
}

.servContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
    margin: 50px;
    /* background-color: orange; */
}

.service{
    border: 1px solid black;
    width: 80%;
    height: 150px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

/* .gallery{
    display: inline-block;
    border: solid 1px black;
    width: 200px;
    height: 50%;
    text-align: center;
    height: fit-content;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    
} */

.servInner {
    width: 30%;
    height: fit-content;
    margin: 1rem auto;
    perspective: 1000px;
    cursor: pointer;
    /* border:solid salmon; */
  }

.servInner:hover .service{
    /* transform: translate(10px, 10px); */
    transform: rotateY(180deg);
}

.galleryImg{
    width: 130px;
    height: 130px;
}

.servImgcont,.servDescrip{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-radius: 0.5rem; */
}

.servImgcont{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.servImgcont img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    margin: 0%;
    border-radius: 10px;
}

.servDescrip {
        transform: rotateY(180deg);
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
  }

.gallery{
    margin: 30px 30px;
}

.galleryImg:hover{
    transform: scale(2);
    cursor: pointer;;
}

.navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    width: auto;
    height: auto;
}

.navBar a{
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0 10px;
    border-radius: 20px;
    padding: 5px;
    background-color: whitesmoke;
    width: 100px;
    text-align: center;
}

.navBar a:hover{
    text-decoration: none;
    color: black;
    cursor: pointer;
    border-radius: solid 1px black;
    background-color: blanchedalmond;
}


a :hover{
    color: white;
    cursor: pointer;
    background-color: blanchedalmond;
}

h1{
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: 	#ffbf00;
    height: fit-content;
}

.footerContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;    
    padding: 5px;
    width: 90%;
}

.contInf{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: azure; */
}

.contInf ul{
    padding-left: 15px;
}

.socialMed{
    display: flex;
    flex-direction: column  ;
    align-items: center;
    /* background-color: azure; */
}

.socialMed ul{
    padding-left: 15px;
}

.socialIcon{
    height: 40px;
    width: 40px;
}

.iframe{
    width: 200px;
    height: 300px;
    border: none;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: azure;     */
    height: 150px;
}

.subscribe{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* x     */
    height: 150px;
}